<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payUMoney.sdk" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />



    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />


    <application
        android:label="@string/app_name"
        android:windowSoftInputMode="adjustPan" >
        <activity
            android:name=".SdkWebViewActivityNew"
            android:theme="@style/MyTheme.AppCompat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SdkLoginSignUpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"/>

        <activity
            android:name=".dialog.SdkOtpProgressDialog"
            android:label="@string/title_activity_otp_progress_dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SdkHomeActivityNew"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".walledSdk.WalletSdkLoginSignUpActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".walledSdk.SdkHistoryActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>
